* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: Helvetica, sans-serif;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(209, 209, 209);
    z-index: 5;
}

.images-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imageBox {
    max-height: 300px;
    overflow-y: hidden;
    cursor: pointer;
}

img {
    object-fit: cover;
    object-position: center;
    max-height: 300px;
    /* limite solo per standard desktop */
}

.imageBox > p {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
}

#moreBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#moreBtn {
    margin: 20px;
    padding: 5px;
    border-radius: 20pt;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 10;
}
