* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(209, 209, 209);
}

.images-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imageBox {
    max-height: 300px;
    overflow-y: hidden;
}

img {
    object-fit: cover;
    object-position: center;
    max-height: 300px;
    /* limite solo per standard desktop */
}

.imageBox > p {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
